/*question 1*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: [start] 100px [top-separator] auto [bottom-separator] 100px [end];
   }

/*question 2*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-template-areas:
     "header header header"
     "archives content ads"
     "sponsors footer footer";
  }