body {
    font-family: 'Lato', sans-serif;
}

img {
    border-radius: 50%;
    height: 110px;
}

h1 {
    text-decoration: underline;
    color: red;
}

h2 {
    font-weight: bold;
    color: blue ;
}

p {
    text-align: justify;
    font-style: italic;
}
