* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";  
   }
   
   html,
   body,
   #root,
   .light-container,
   .dark-container {
     width: 100%;
     height: 100%;
     margin: 0;
   }
   
   .light-container,
   .dark-container {
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100%;
   }
   
   .light-container {
     color: #8395a7;
   }
   
   .dark-container {
     background: #222f3e;
     color: #c8d6e5;
   }